In [1]:
!ls

a.txt			    run-v5.py
calibration		    run-v6.py
confusion_matrix.txt	    run-v7-demo-evaluation.py
dataset_100_result.csv	    run-v7-demo-test.py
demo			    run-v7-evaluation.py
fewer_light_100_result.csv  run-v7-fusion_result.ipynb
img			    run-v7-test-hand-labeled.py
make_light_image.py	    run-v7-test.py
model.yml		    run-v7-train-ground.py
pic_100_result.csv	    test.ipynb
README.md		    test.py
remove.py		    train.py
run-cce.py		    train-rf-pipline.py
run-cvgip.py		    train-rf-random_serach.py
run-simple.py		    train-svm-pipline.py
run-v2.py		    utils
run-v3.py		    viz_result.py

In [389]:
import pandas as pd
import json
data = pd.read_csv('dataset_100_result.csv')
data = data[['filename','position']]
data.head(3)

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]

In [390]:
g = data.groupby(["filename"])
roi_names = g.count().index
print(roi_names)

Int64Index([  1,   2,   3,   4,   5,   7,   8,   9,  10,  11,  12,  13,  14,
             18,  19,  20,  22,  23,  24,  25,  27,  28,  29,  30,  31,  34,
             37,  38,  39,  40,  41,  43,  44,  45,  48,  49,  51,  52,  54,
             55,  56,  59,  60,  61,  63,  64,  65,  66,  68,  69,  70,  73,
             74,  75,  76,  77,  79,  80,  81,  82,  83,  84,  86,  88,  89,
             90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='filename')

In [391]:
import json

In [392]:
def rect_cross(boxes):
    if boxes[0][2]>boxes[1][0] or boxes[0][3]<boxes[1][1]:
        return True
    else:
        return False

In [409]:
for i in range(len(roi_names)-1):
    #print(roi_names[i])
    frame_data_old = data[ data['filename']==roi_names[i] ]
    frame_data_now = data[ data['filename']==roi_names[i+1] ]
    for old_data in frame_data_old.head().iterrows():
        for now_data in frame_data_now.head().iterrows():
            filename = now_data[1]['filename']
            o_data = json.loads(str(old_data[1]['position']))
            n_data = json.loads(str(now_data[1]['position']))
            r1_x1, r1_y1, r1_w, r1_h = o_data
            r1_x2 = r1_x1 + r1_w
            r1_y2 = r1_y1 + r1_h
            r2_x1, r2_y1, r2_w, r2_h = n_data
            r2_x2 = r2_x1 + r2_w
            r2_y2 = r2_y1 + r2_h
            boxes = []
            boxes.append([r1_x1,r1_y1, r1_x2, r1_y2])
            boxes.append([r2_x1,r2_y1, r2_x2, r2_y2])
            boxes.sort()
            is_cross = rect_cross(boxes)
            if is_cross:
                x,y,w,h = mid_pos(boxes)
                name_check = data['filename']==filename
                pos_check = data['position'] == str(n_data)
                print(n_data, [x,y,w,h])
                data.loc[pos_check,'position'] =  str([x,y,w,h])

[1555, 510, 264, 136]
[1006, 420, 492, 329]
[1006, 420, 492, 329]
[1555, 510, 264, 136]
[1555, 510, 264, 136]
[1490, 438, 102, 117]
[1534, 456, 46, 48]
[1490, 438, 102, 117]
[1631, 455, 46, 66]
[1604, 442, 91, 115]
[1619, 462, 163, 70]
[1619, 462, 163, 70]
[1619, 462, 163, 70]
[803, 428, 239, 213]
[1520, 502, 117, 103]
[1543, 549, 48, 74]
[1535, 529, 104, 95]
[1567, 445, 239, 96]
[1503, 448, 278, 204]
[1147, 459, 54, 40]
[1567, 445, 239, 96]
[1503, 448, 278, 204]
[1147, 459, 54, 40]
[1567, 445, 239, 96]
[1503, 448, 278, 204]
[1147, 459, 54, 40]
[1179, 446, 126, 77]
[1069, 424, 187, 125]
[1200, 425, 91, 101]
[1124, 454, 68, 36]
[1097, 446, 127, 90]
[1074, 490, 157, 107]
[781, 460, 213, 69]
[739, 478, 191, 82]
[903, 476, 142, 99]
[1101, 436, 139, 111]
[1155, 450, 169, 58]
[1155, 450, 169, 58]
[1155, 450, 169, 58]
[1251, 425, 45, 31]
[1111, 260, 257, 114]
[662, 435, 131, 114]
[662, 435, 131, 114]
[718, 402, 47, 56]
[753, 388, 207, 87]
[753, 426, 236, 96]
[1313, 421, 59, 36]
[1200, 448, 138, 70]
[1150, 434, 115, 81]
[1150, 434, 115, 81]
[1150, 434, 115, 81]
[1077, 417, 204, 144]
[1089, 375, 257, 239]
[1075, 372, 252, 248]
[1637, 337, 272, 403]
[1620, 348, 293, 388]
[411, 495, 170, 71]
[411, 495, 170, 71]
[1525, 377, 394, 443]
[1266, 376, 529, 352]
[842, 471, 54, 45]
[818, 497, 77, 36]
[842, 471, 54, 45]
[674, 471, 167, 68]
[818, 497, 77, 36]
[1181, 455, 124, 81]
[1333, 457, 97, 91]
[1097, 375, 460, 330]
[1114, 380, 459, 334]
[1142, 458, 74, 41]
[1143, 451, 127, 83]
[1495, 471, 316, 230]
[1495, 471, 316, 230]
[156, 327, 193, 83]
[930, 409, 413, 282]
[1367, 453, 113, 76]
[1469, 491, 45, 52]
[1367, 453, 113, 76]
[1469, 491, 45, 52]
[979, 432, 350, 247]
[1469, 491, 45, 52]
[1367, 453, 113, 76]
[1469, 491, 45, 52]
[1063, 437, 275, 229]
[1446, 493, 119, 96]
[1466, 538, 114, 98]
[1456, 527, 114, 115]
[1489, 569, 72, 69]
[1446, 493, 119, 96]
[1466, 538, 114, 98]
[1456, 527, 114, 115]
[1489, 569, 72, 69]
[1446, 493, 119, 96]
[1466, 538, 114, 98]
[1456, 527, 114, 115]
[1489, 569, 72, 69]
[1151, 502, 56, 39]
[1156, 465, 51, 34]
[1115, 449, 143, 78]
[1164, 443, 179, 82]
[988, 460, 471, 289]
[988, 460, 471, 289]
[988, 460, 471, 289]
[988, 460, 471, 289]
[1401, 604, 111, 85]
[979, 590, 158, 143]
[1435, 480, 185, 114]
[1635, 518, 67, 49]
[1592, 493, 142, 92]
[1592, 493, 142, 92]
[1435, 480, 185, 114]
[1635, 518, 67, 49]
[1592, 493, 142, 92]
[1410, 446, 163, 114]
[1607, 461, 73, 42]
[1579, 443, 130, 78]
[1376, 472, 177, 98]
[1720, 493, 53, 56]
[1607, 461, 73, 42]
[1579, 443, 130, 78]
[1720, 493, 53, 56]
[1607, 461, 73, 42]
[1579, 443, 130, 78]
[1607, 461, 73, 42]
[1579, 443, 130, 78]
[1376, 472, 177, 98]
[1524, 603, 43, 58]
[1490, 536, 160, 119]
[1524, 603, 43, 58]
[1490, 536, 160, 119]
[1524, 603, 43, 58]
[1490, 536, 160, 119]
[1421, 465, 66, 36]
[704, 446, 922, 177]
[1421, 465, 66, 36]
[704, 446, 922, 177]
[1397, 502, 143, 67]
[1720, 553, 138, 81]
[1390, 481, 164, 87]
[1613, 442, 102, 115]
[1390, 481, 164, 87]
[1390, 481, 164, 87]
[1720, 553, 138, 81]
[1488, 424, 121, 119]
[1424, 512, 62, 54]
[1492, 490, 105, 90]
[1488, 424, 121, 119]
[1424, 512, 62, 54]
[1492, 490, 105, 90]
[1422, 488, 84, 105]
[1422, 488, 84, 105]
[1422, 488, 84, 105]
[1523, 440, 100, 80]
[1700, 433, 167, 116]
[1152, 437, 153, 83]
[1700, 433, 167, 116]
[1771, 469, 133, 110]
[1021, 382, 461, 353]
[1021, 382, 461, 353]

In [398]:
data.loc[pos_check,'position'] =  str([100,y,w,h])

In [407]:
data[pos_check]

     filename              position
210       100  [100, 462, 212, 208]

In [377]:
data

     filename               position
0           1   [1548, 452, 232, 91]
1           1  [1031, 392, 459, 341]
2           1  [1457, 456, 156, 148]
3           1  [1508, 454, 336, 199]
4           2  [1006, 420, 492, 329]
..        ...                    ...
206        99   [1523, 440, 100, 80]
207        99  [1700, 433, 167, 116]
208        99  [1771, 469, 133, 110]
209       100  [1021, 382, 461, 353]
210       100  [1627, 455, 291, 306]

[211 rows x 2 columns]

In [327]:
data.head()

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]
3         1  [1508, 454, 336, 199]
4         2  [1018, 406, 476, 335]

In [309]:
frame_data_old = data[ data['filename']==roi_names[0] ]
frame_data_now = data[ data['filename']==roi_names[1] ]
frame_data_old

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]
3         1  [1508, 454, 336, 199]
4         1  [1006, 534, 115, 120]

In [310]:
frame_data_now

   filename               position
5         2  [1006, 420, 492, 329]
6         2  [1555, 510, 264, 136]

In [311]:
def mid_pos(boxes):
    pos =[]
    for i in range(4):
        pos.append( (boxes[0][i]+boxes[1][i])//2 )
    pos[2] = pos[2] - pos[0]
    pos[3] = pos[3] - pos[1]
    return pos

In [312]:
b  = [[1006, 420, 1006+492, 420+329], [1555, 510, 1555+264, 510+136]]
a = mid_pos(b)
a

[1280, 465, 378, 232]

In [322]:


            #print("==\n", data.loc[pos_check, 'position'])

In [318]:
data.to_csv('haha.csv')
old_data = pd.read_csv('dataset_100_result.csv')
old_data.head(3)

   Unnamed: 0  filename               position
0           0         1   [1548, 452, 232, 91]
1           1         1  [1031, 392, 459, 341]
2           2         1  [1457, 456, 156, 148]

In [321]:
data.head(10)

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]
3         1  [1508, 454, 336, 199]
4         1  [1006, 534, 115, 120]
5         2  [1018, 406, 476, 335]
6         2  [1551, 481, 248, 113]
7         3    [1444, 457, 37, 58]
8         3    [1534, 456, 46, 48]
9         3  [1490, 438, 102, 117]

In [320]:
old_data.head(10)

   Unnamed: 0  filename               position
0           0         1   [1548, 452, 232, 91]
1           1         1  [1031, 392, 459, 341]
2           2         1  [1457, 456, 156, 148]
3           3         1  [1508, 454, 336, 199]
4           4         1  [1006, 534, 115, 120]
5           5         2  [1006, 420, 492, 329]
6           6         2  [1555, 510, 264, 136]
7           7         3    [1444, 457, 37, 58]
8           8         3    [1534, 456, 46, 48]
9           9         3  [1490, 438, 102, 117]