In [1]:
!ls

a.txt			    run-v5.py
calibration		    run-v6.py
confusion_matrix.txt	    run-v7-demo-evaluation.py
dataset_100_result.csv	    run-v7-demo-test.py
demo			    run-v7-evaluation.py
fewer_light_100_result.csv  run-v7-fusion_result.ipynb
img			    run-v7-test-hand-labeled.py
make_light_image.py	    run-v7-test.py
model.yml		    run-v7-train-ground.py
pic_100_result.csv	    test.ipynb
README.md		    test.py
remove.py		    train.py
run-cce.py		    train-rf-pipline.py
run-cvgip.py		    train-rf-random_serach.py
run-simple.py		    train-svm-pipline.py
run-v2.py		    utils
run-v3.py		    viz_result.py

In [304]:
import pandas as pd
import json
data = pd.read_csv('dataset_100_result.csv')
data = data[['filename','position']]
data.head(3)

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]

In [305]:
g = data.groupby(["filename"])
roi_names = g.count().index
print(roi_names)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  73,  74,  75,  76,  77,  78,  79,  80,  81,
             82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
             95,  96,  97,  98,  99, 100],
           dtype='int64', name='filename')

In [306]:
import json

In [307]:
def rect_cross(boxes):
    if boxes[0][2]>boxes[1][0] or boxes[0][3]<boxes[1][1]:
        return True
    else:
        return False

In [323]:
for i in range(len(roi_names)-1):
    #print(roi_names[i])
    frame_data_old = data[ data['filename']==roi_names[i] ]
    frame_data_now = data[ data['filename']==roi_names[i+1] ]
    for old_data in frame_data_old.head().iterrows():
        for now_data in frame_data_now.head().iterrows():
            filename = now_data[1]['filename']
            o_data = json.loads(str(old_data[1]['position']))
            n_data = json.loads(str(now_data[1]['position']))
            r1_x1, r1_y1, r1_w, r1_h = o_data
            r1_x2 = r1_x1 + r1_w
            r1_y2 = r1_y1 + r1_h
            r2_x1, r2_y1, r2_w, r2_h = n_data
            r2_x2 = r2_x1 + r2_w
            r2_y2 = r2_y1 + r2_h
            boxes = []
            boxes.append([r1_x1,r1_y1, r1_x2, r1_y2])
            boxes.append([r2_x1,r2_y1, r2_x2, r2_y2])
            boxes.sort()
            is_cross = rect_cross(boxes)
            if is_cross:
                x,y,w,h = mid_pos(boxes)
                name_check = data['filename']==filename
                pos_check = data['position'] == str(n_data)
                data.loc[pos_check,'position'] =  str([x,y,w,h])

In [309]:
frame_data_old = data[ data['filename']==roi_names[0] ]
frame_data_now = data[ data['filename']==roi_names[1] ]
frame_data_old

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]
3         1  [1508, 454, 336, 199]
4         1  [1006, 534, 115, 120]

In [310]:
frame_data_now

   filename               position
5         2  [1006, 420, 492, 329]
6         2  [1555, 510, 264, 136]

In [311]:
def mid_pos(boxes):
    pos =[]
    for i in range(4):
        pos.append( (boxes[0][i]+boxes[1][i])//2 )
    pos[2] = pos[2] - pos[0]
    pos[3] = pos[3] - pos[1]
    return pos

In [312]:
b  = [[1006, 420, 1006+492, 420+329], [1555, 510, 1555+264, 510+136]]
a = mid_pos(b)
a

[1280, 465, 378, 232]

In [322]:


            #print("==\n", data.loc[pos_check, 'position'])

In [318]:
data.to_csv('haha.csv')
old_data = pd.read_csv('dataset_100_result.csv')
old_data.head(3)

   Unnamed: 0  filename               position
0           0         1   [1548, 452, 232, 91]
1           1         1  [1031, 392, 459, 341]
2           2         1  [1457, 456, 156, 148]

In [321]:
data.head(10)

   filename               position
0         1   [1548, 452, 232, 91]
1         1  [1031, 392, 459, 341]
2         1  [1457, 456, 156, 148]
3         1  [1508, 454, 336, 199]
4         1  [1006, 534, 115, 120]
5         2  [1018, 406, 476, 335]
6         2  [1551, 481, 248, 113]
7         3    [1444, 457, 37, 58]
8         3    [1534, 456, 46, 48]
9         3  [1490, 438, 102, 117]

In [320]:
old_data.head(10)

   Unnamed: 0  filename               position
0           0         1   [1548, 452, 232, 91]
1           1         1  [1031, 392, 459, 341]
2           2         1  [1457, 456, 156, 148]
3           3         1  [1508, 454, 336, 199]
4           4         1  [1006, 534, 115, 120]
5           5         2  [1006, 420, 492, 329]
6           6         2  [1555, 510, 264, 136]
7           7         3    [1444, 457, 37, 58]
8           8         3    [1534, 456, 46, 48]
9           9         3  [1490, 438, 102, 117]