In [2]:
import pandas as pd
base = '../../dataset/dataset_100/'
dataset = "origin/"
data = pd.read_csv(base+dataset+'data-2.csv')
test_data = pd.read_csv(base+dataset+'data-2-test.csv')

data = data[['position','fliename']]
data.head(3)

                position  fliename
0      [1367, 613, 8, 3]         1
1     [1409, 699, 13, 5]         1
2  [1014, 560, 497, 230]         1

In [19]:
test_data.head(3)

   Unnamed: 0  predict
0           0       -1
1           1       -1
2           2        1

In [20]:
merge = pd.concat([data, test_data], axis=1)
merge.head(3)

                position  Unnamed: 0  predict
0      [1367, 613, 8, 3]           0       -1
1     [1409, 699, 13, 5]           1       -1
2  [1014, 560, 497, 230]           2        1